dj-database-url==0.4.2
Django==1.10.6
django-extensions==1.7.8
djangorestframework==3.3.3
gunicorn==19.7.1
numpy==1.12.1
pandas==0.19.2
psycopg2==2.7.1
PyJWT==1.4.2
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
virtualenv==15.1.0
whitenoise==3.3.0
