{% extends 'noisesearch/base.html' %}

{% block content %}
    {#    <div class="preloader-wrapper active">#}
    {#        <div class="spinner-layer spinner-blue">#}
    {#            <div class="circle-clipper left">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#            <div class="gap-patch">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#            <div class="circle-clipper right">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="spinner-layer spinner-red">#}
    {#            <div class="circle-clipper left">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#            <div class="gap-patch">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#            <div class="circle-clipper right">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="spinner-layer spinner-yellow">#}
    {#            <div class="circle-clipper left">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#            <div class="gap-patch">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#            <div class="circle-clipper right">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="spinner-layer spinner-green">#}
    {#            <div class="circle-clipper left">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#            <div class="gap-patch">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#            <div class="circle-clipper right">#}
    {#                <div class="circle"></div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    <br>
    <br>
    <br>

    <div id="tester" style="width:90%;height:250px;"></div>

{% endblock %}


{% block script %}

    <script>
        Plotly.d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/wind_speed_laurel_nebraska.csv', function (rows) {
            var trace = {
                type: 'scatter',                    // set the chart type
                mode: 'lines',                      // connect points with lines
                x: rows.map(function (row) {          // set the x-data
                    return row['Time'];
                }),
                y: rows.map(function (row) {          // set the x-data
                    return row['10 Min Sampled Avg'];
                }),
                line: {                             // set the width of the line.
                    width: 1
                },
            };

            var layout = {
                autosize: false,
                yaxis: {title: "Wind Speed"},       // set the y axis title
                xaxis: {
                    showgrid: false,                  // remove the x-axis grid lines
                    tickformat: "%B, %Y"              // customize the date format to "month, day"
                },
                margin: {                           // update the left, bottom, right, top margin
                    l: 40, b: 30, r: 10, t: 20
                }
            };

            Plotly.plot(document.getElementById('tester'), [trace], layout, {showLink: false});
        });
    </script>

{% endblock %}