* {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

#mapid {
    width: 100%;
}

#filter-form {
    /*background: red;*/
}

.picker--opened .picker__frame {
    top: 40% !important;
}

.modal.bottom-sheet {
    max-height: 85% !important;
    height: 85% !important;
}

#modal-detail-mul {
    max-height: 50% !important;
}

#modal-filter, #modal-filter-mul {
    max-height: 60% !important;
}

.picker__date-display {
    display: none !important;
}

.side-nav {
    z-index: 1010 !important;
}

.center-div {
    text-align: center;
    margin: auto;
}

.clear-fix {
    margin: 20px;
}

.clear-fix2 {
    margin: 40px;
}

.inner-table {
    max-height: 65%;
    overflow-y: scroll;
}

.inner-table thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: antiquewhite;
    z-index: 1000;
}

#dropdown1 {
    z-index: 1500;
}

.div-graphs {
    /*background: lightgray;*/
    display: table;
    border-radius: 5px;
    /*width: 300px;*/
}

.div-graphs .center-icon {
    /*background: red;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /*z-index: 1501;*/
}

.brand-logo {
    margin-left: 20px;
    margin-top: 10px;
}

.table-custom {
    background: white;
}

#modal-detail {
    background: #F1F1F1;
}

.div-ids {
    /*background: white;*/
    text-align: center;
    color: white;
}

.ns-logo {
    width: 44px;
    height: 44px;
}

nav {
    background-color: #FD8A80;
    /*background-color: #EE2B2A;*/
    /*background-color: #ffffff;*/
}

nav ul a {
    /*color: #FD8A80;*/
}
.site-name {
    margin-left: 70px;
    font-size: 18pt;
}

#btn-filter-trigger {
    background-color: #FD8A80 !important;
}

input.geocoder-control-input.leaflet-bar {
    background-color: white;
    border-radius: 5px;
}