{% verbatim %}
<script id="modal-template-mul" type="text/template">

    <div id="modal-detail-mul" class="modal bottom-sheet">
        <div class="modal-content">

            <div class="row">
                <div class="col s12 m6 div-table" id="table-details-mul">
                    <div class="table-details">
                        <table class="table highlight table-custom z-depth-2">
                            <tbody>
                            <tr>
                                <td>Average sound pressure level:</td>
                                <td>{{ values.fields.average_spl }} dB</td>
                            </tr>
                            <tr>
                                <td>Distance of measurement:</td>
                                <td>{{ values.fields.distance }} m</td>
                            </tr>
                            <tr>
                                <td>Start Point:</td>
                                <td>{{ values.fields.start_point.latitude }}, {{ values.fields.start_point.longitude }}</td>
                            </tr>
                            <tr>
                                <td>End Point:</td>
                                <td>{{ values.fields.end_point.latitude }}, {{ values.fields.end_point.longitude }}</td>
                            </tr>

                            <tr>
                                <td>Device ID:</td>
                                <td>{{ values.fields.device_id }}</td>
                            </tr>

                            <tr>
                                <td>User name</td>
                                <td>{{ values.fields.user_name }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col s12 m6 div-graphs" id="graphs-mul">

                </div>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}


{#<a href="/graphs" class="center-icon" id="graphss"><i class="fa fa-bar-chart fa-2x"#}
{#                                                                          aria-hidden="true"></i>#}
{#                        <p>Load Graph</p></a>#}