{% extends 'noisesearch/base.html' %}

{% block content %}

    <div class="container">


        <div class="clear-fix2 row">
            <div class="col s12">
                <h6><a href="{% url 'data_manager' %}"><i class="fa fa-angle-left"></i>Back to data manager</a></h6>
{#                <a class="center-align">Details of the measurement</a>#}
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <h5 class="center-align">Details of the measurement</h5>
            </div>
        </div>

        <div class="inner-table">
            <table class="centered highlight">
                <thead>
                <tr>
                    <th>Measured At</th>
                    <th>Sound Pressure Level</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
                </thead>

                <tbody>
                {% for row in measurements %}
                    <tr>
                        <td class="dateTime">{{ row.measured_at }}</td>
                        <td>{{ row.spl_value }}</td>
                        <td>{{ row.latitude }}</td>
                        <td>{{ row.longitude }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{#{% block script %}#}
{#    <script>#}
{##}
{#        $(document).ready(function () {#}
{#            var dateTime = document.getElementsByClassName("dateTime");#}
{#                for(var i = 0; i < dateTime.length; i++){#}
{##}
{#                    $(dateTime[i]).text(new Date($(dateTime[i]).text()));#}
{##}
{#                    console.log(new Date($(dateTime[i]).text()));#}
{#                    console.log($(dateTime[i]).text());#}
{#                }#}
{##}
{#            console.log(new Date('2017-04-07T23:16:00Z'));#}
{#        });#}
{##}
{#    </script>#}
{#{% endblock %}#}