{% extends 'noisesearch/base.html' %}
{% load static %}

{% block header %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet'/>
{% endblock %}

{% block content %}
    <div id="mapid"></div>

    <div id="modal"></div>

    {#    floating buttons#}
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" id="btn-filter-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>

    {% include 'noisesearch/_filter_modal_sin.html' %}
    {% include 'noisesearch/_modal.html' %}

    <script src="{% static 'js/initialize_map.js' %}"></script>
    <script src="{% static 'js/filter_request.js' %}"></script>
    <script src="{% static 'js/graphsRender.js' %}"></script>

    <script type="text/javascript">

        global_model_name = '{{ model_name }}';
        global_ids = {{ ids|safe }};

        console.log(global_ids);

        $(document).ready(function () {


            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();

            $('#btn-filter-trigger').click(function () {
                $('#modal-filter').modal('open');
            });

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });

            {#            var Handlebars = require('handlebars');#}

            Handlebars.registerHelper('inc', function (value, options) {
                return parseInt(value) + 1;
            });

            {#            var location = {{ location|safe }};#}


            initialize_map({{ points|safe }}, {{ location|safe }});


            window.addEventListener("resize", function () {
                setHeightForMap();
            });

        });
    </script>


{% endblock %}