{% extends 'noisesearch/base.html' %}
{% load static %}

{% block header %}

{#        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>#}
{#        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>#}

    <link rel="stylesheet" href="{% static 'js/leaflet/leaflet.css' %}"/>
    <script src="{% static 'js/leaflet/leaflet.js' %}"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet'/>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.0.8"></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.4/dist/esri-leaflet-geocoder.css">
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.4"></script>
{% endblock %}

{% block content %}
    <div id="mapid"></div>

    <div id="modal"></div>

    {#    floating buttons#}
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large waves-effect waves-light modal-trigger red" id="btn-filter-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>

    {% include 'noisesearch/_filter_modal_sin.html' %}
    {% include 'noisesearch/_modal.html' %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css">
    <script src="https://unpkg.com/leaflet.markercluster@1.0.5/dist/leaflet.markercluster.js"></script>



    <script src="{% static 'js/initialize_map.js' %}"></script>
    <script src="{% static 'js/filter_request.js' %}"></script>
    <script src="{% static 'js/graphsRender.js' %}"></script>

    <script type="text/javascript">

        global_model_name = '{{ model_name }}';
        global_ids = {{ ids|safe }};

        {#        console.log(global_ids);#}

        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();

            $('#btn-filter-trigger').click(function () {
                $('#modal-filter').modal('open');
            });

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });

            {#            var Handlebars = require('handlebars');#}

            Handlebars.registerHelper('inc', function (value, options) {
                return parseInt(value) + 1;
            });

            {#            var location = {{ location|safe }};#}


            var measured_points = {{ points|safe }};

            initialize_map(measured_points, {{ location|safe }});


            window.addEventListener("resize", function () {
                console.log('triggered');
                setHeightForMap();
                {#                setTimeout(function () {#}
                {#                    mymap.invalidateSize()#}
                {#                }, 1000);#}
            });

            {#            new ResizeSensor(jQuery('#mapid'), function () {#}
            {#                console.log('myelement has been resized');#}
            {#            });#}

            Materialize.toast(measured_points.length + ' points', 4000, 'rounded');

        });
    </script>


{% endblock %}