{% extends 'noisesearch/base.html' %}

{% block header %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
    <div id="mapid"></div>
    <!-- definition of the word -->
    <div id="test-modal"></div>
{#   html template modal#}
{#    {% include 'noisesearch/_modal.html' %}#}


{#    floating buttons#}
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" data-target="modal1">
            <i class="material-icons">menu</i>
        </a>
    </div>

    {% include 'noisesearch/_filter_modal.html' %}

    <script type="text/javascript">

{#        modal filter#}
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
        });




        ////map
        var mymap = L.map('mapid').setView([48.72305363, 44.53600696], 13);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibGFuY2Vsb2Z0MTAwOCIsImEiOiJjajE4OXExcWkwMDRyMzJwcDNsdDIzMzU4In0.1JIG2H6f-CZ572Wmzxm77g', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(mymap);

        var points = {{ points|safe }};

        for (var i = 0; i < points.length; i++){
            var latitude = points[i].latitude;
            var longitude = points[i].longitude;
            var splvalue = points[i].average_spl_value;
            var marker = L.marker([latitude, longitude]).addTo(mymap);
            marker.bindPopup('<b>SPL value:</b> ' + splvalue.toString() + '<strong> dB</strong><br><br> ' +
                'Calculated from ' + points[i].ids.length.toString() + ' measurement(s)<br><br>' +
                '<button type="button" class="btn btn-default" id="' + i.toString() + '" onClick="myFunction(this.id)">Details</button>');
{#            marker.bindPopup('<b>SPL value:</b><br>' + splvalue.toString() + '<strong> dB</strong><br><br><button type="button" class="btn btn-default btn-details"' + 'id="' + i.toString() + '">Details</button>');#}
        }

        function myFunction(clicked_id) {

            {#            alert('measurements id: ' + points[id].ids.toString());#}
            $.ajax({
                url: '/get_details/',
                data: {
                    'ids[]': points[clicked_id].ids
                },
                dataType: 'text',
                success: function (data) {
                    if(data) {
                        data = data.replace(/Z/gi, '');
                        data = data.replace(/T/g, ' ');
                        var string_data = '[' + data + ']'

                        var jsonData = JSON.parse(string_data);
                        console.log(jsonData);
{#                        alert(jsonData[0][0]['fields'].measurement_duration);#}

                        var myModal = document.getElementById('test-modal');
                        var modal_template = Handlebars.compile(document.getElementById('modal-template').innerHTML);

                        var context = {objects : jsonData};
                        myModal.innerHTML = modal_template(context);
                        $('#myModal').modal('show');

                    }
                }
            });
        }
    </script>
{% endblock %}