{% extends 'noisesearch/base.html' %}
{% load static %}

{% block header %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet'/>
{% endblock %}

{% block content %}
    <div id="mapid-mul"></div>

    <div id="modal-mul"></div>

    {#    floating buttons#}
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" id="btn-filter-trigger-mul">
            <i class="material-icons">menu</i>
        </a>
    </div>

    {% include 'noisesearch/_filter_modal_mul.html' %}
    {% include 'noisesearch/_modal_details_multiple.html' %}

    <script src="{% static 'js/initialize_map_mul.js' %}"></script>
    <script src="{% static 'js/filter_request_mul.js' %}"></script>
    <script src="{% static 'js/graphsRender_mul.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();

            $('#btn-filter-trigger-mul').click(function () {
                $('#modal-filter-mul').modal('open');
            });

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });

{#            var Handlebars = require('handlebars');#}

            Handlebars.registerHelper('inc', function (value, options) {
                return parseInt(value) + 1;
            });

{#            var location = {{ location|safe }};#}
            var received_data = {{ details_objects|safe }};

{#            received_data = JSON.parse(received_data);#}

            initialize_map_mul(received_data, {{ average_objects|safe }}, {{ location|safe }});

{#            console.log(received_data[0]);#}

            window.addEventListener("resize", function () {
                setHeightForMap();
            });

        });
    </script>
{% endblock %}