{% extends 'noisesearch/base.html' %}
{% load static %}
{% block content %}
    <div class="container">

        <div class="row clear-fix">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#prs_tab">Private Data (Single)</a></li>
                    <li class="tab col s3"><a href="#pbs_tab">Public Data (Single)</a></li>
                    <li class="tab col s3"><a href="#prm_tab">Private Data (Multiple)</a></li>
                    <li class="tab col s3"><a href="#pbm_tab">Public Data (Multiple)</a></li>
                </ul>
            </div>

            {% include 'noisesearch/tabs/_private_single.html' %}
            {% include 'noisesearch/tabs/_public_single.html' %}
            {% include 'noisesearch/tabs/_private_multiple.html' %}
            {% include 'noisesearch/tabs/_public_multiple.html' %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/dataManagerHelper.js' %}"></script>
{% endblock %}


